ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}
input,
textarea {
  width: 100%;
  display: block;
}
